@import "./utils";
@import "./var";



.context{
    @include dispFlex(space-around,center,column);
    @include backGroundImg("../assets/samuel-ferrara-1527pjeb6jg-unsplash.jpg");
}

.nav {
    @include dispFlex(space-around, center, column);
    position: absolute;
    background: #28272776;
    width: 15rem;
    height: 100vh;
    left: 0;
    backdrop-filter: blur(2px); 
    transition: 1s all ease-out;

    z-index: 25;

    >.menu {
        height: 65vh;
        position: relative;

        li {
            font-family: $font_pri;
            width: 10rem;
            margin: .4rem 0rem;
            padding: .7rem;
            border-radius: .5rem;
        }

        .inactive {
            color: #bebcbc;
        }

        .active-nav-menu {
            color: #f2f2f2;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -3.2rem;
                width: 3rem;
                height: 2px;
                background-color: #f2f2f2;
            }
        }
    }
}


.home {
    @include backGroundImg("../assets/samuel-ferrara-1527pjeb6jg-unsplash.jpg");

}

.about {
    @include backGroundImg("../assets/feipeng-yi--qVMdZir4wo-unsplash.jpg");
}

.topnav {
    @include dispFlex(space-between, center, row);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 3rem;
    font-family: $font_pri;
    z-index: 25;
    >.heading {
        display: grid;
        place-items: center;
        width: 18rem;
        height: 3rem;
        background-color: #eff710db;
        p{
            display: block;
        }
        .open_menu,
        .close_menu {
            display: none;
        }

    }

    >.menu {
        @include dispFlex(space-between, center, row);
        width: 30%;
        a{
        color: #0f0f0f;

        }
        >.circle {
            background-image: url("../assets/BlackSquare.png");
            border-radius: 12.5rem;
            margin-right: 4rem;
            width: 25px;
            height: 25px;
        }
    }

}

.home {
    @include dispFlex(space-evenly, start, column);

    >.hero {
        @include dispFlex(center, center, column);

        width: 48vw;
        position: absolute;
        left: 32%;
        color: #f0f0f0;
        text-align: center;

        >.title {
            font-family: 'Courier New', Courier, monospace;
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        >.desc {
            font-size: 1.2rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        >.btn_read_more {
            width: max-content;
            margin-top: 3rem;
            background-color: #e7dd28;
            color: #000;
            padding: .8rem 1.4rem;
            border-radius: .8rem;
        }
    }
}

.about {
    @include dispFlex(space-evenly, start, column);

    >.details {
        @include dispFlex(space-between, start, column);
        position: absolute;
        width: 31vw;
        height: 50%;
        left: 30%;

        >.title {
            font-family: $font_pri;
            width: 180%;
            font-size: 4rem;
            
        }

        >.about_project {
            
            background-color: #bebcbc22;
            padding: 1rem 3rem;
            color: rgb(211, 209, 209);
            width: 200%;
            font-size: 1rem;
            backdrop-filter: blur(15px);
            border-radius: .5rem;
        }

        >.download_script {
            border-radius: .4rem;
            width: max-content;
            background: #e7dd28;
            padding: .5rem 1rem;
        }
    }
}

.help {
    @include dispFlex(space-evenly, center, column);
    position: relative;
    >.sideImg {
        @include dispFlex(space-evenly, center, row);
        // position: absolute;
        width: 40%;
        >img {
            width: 10rem;
            mix-blend-mode: darken;
        }
        >a{
            width: max-content;
            background-color: #63636362;
            padding: .8rem 1.7rem;
            backdrop-filter: blur(2px);
            background-color: #e7dd28;
            border-radius: .4rem;
            padding: .6rem 1.3rem;
        }
    }
   
}