@import "./utils";
@import "./var";

@media screen and (max-width: 1210px) {
    .home {
        >.hero {
            left: 24%;
        }
    }
}

@media screen and (max-width: 1070px) {
    .home {
        >.hero {
            left: 37%;
        }
    }
}

@media screen and (max-width: 906px) {
    .topnav {
        >.menu {
            width: 36%;
        }
    }

    .about {
        >.details {
            >.title {
                font-size: 3rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .topnav {
        >.menu {
            width: 46%;
        }
    }

    .about {
        >.details {
            left: 35%;

            >.about_project {
                display: none;
            }

            >.download_script {
                margin-bottom: 15rem;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .about {
        >.details {
            left: 42%;

        }
    }

    .home {
        >.hero {
            width: 55vw;
        }
    }
}

@media screen and (max-width: 700px) {
    .home {
        >.hero {
            width: 60vw;
            left: 40%;

            >.title {
                font-size: 2rem;
            }

            >.desc {
                font-size: .9rem;
            }
        }
    }
    .topnav{
        >.heading{
            width: 16rem;
        }
        >.menu{
            width: 52%;
        }
    }
}

@media screen and (max-width: 600px) {
    .home {
        >.hero {
            left: 19%;
            text-align: center;
        }
    }

    .topnav {
        >.menu{
            >.circle{
                margin-right: 1rem;
            }
        }
        >.heading {
            width: 7rem;
            p {
                display: none;
            }
            >.open_menu,
            .close_menu {
                display: block;
            }
            >.ham_hidden {
                display: none;
            }
        }
        
    }
    .about {
        >.details {
            @include dispFlex(space-evenly, center, column);
            text-align: center;
            left: 37%;
            top: 33%;
            >.title {
                font-size: 1.4rem;
            }
        }
    }
    

    .nav_hidden {
        position: absolute;
        left: -29rem;
        transition: 1s all ease-out;
    }

}

@media screen and (max-width:550px) {
    .topnav{
        font-size: .729rem;
        >.menu{
            width: 72%;
        }
    }
}
@media screen and (max-width:410px) {
    .topnav{
    
        >.menu{
            width: 82%;
        }
    }
}